workflow-v3-ultra.json
{
  "name": "BTP - Electricite Multi-Agent Analyzer v4 (avec DPGF)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "btp-electricite-agents",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-main",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        864,
        3664
      ],
      "webhookId": "btp-elec-multiagent-2026"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2864,
        3808
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.first().json.body || $input.first().json;\nconst item = {\n  json: {\n    has_pdf_url: !!body.pdf_url,\n    has_pdf_base64: !!body.pdf_base64,\n    has_dpgf_base64: !!body.dpgf_base64,\n    has_images: !!(body.images && body.images.length > 0),\n    pdf_url: body.pdf_url || '',\n    pdf_base64: body.pdf_base64 || '',\n    dpgf_base64: body.dpgf_base64 || '',\n    pdf_filename: body.pdf_filename || 'plan.pdf',\n    dpgf_filename: body.dpgf_filename || 'dpgf.pdf',\n    image_count: body.images ? body.images.length : 0\n  },\n  binary: {}\n};\n\nif (body.images && body.images.length > 0) {\n  for (let i = 0; i < body.images.length; i++) {\n    item.binary['image_' + i] = {\n      data: body.images[i].base64,\n      mimeType: body.images[i].mime || 'image/png',\n      fileName: body.images[i].filename || ('image_' + i + '.png')\n    };\n  }\n}\n\nif (body.pdf_base64) {\n  item.binary['pdf_data'] = {\n    data: body.pdf_base64,\n    mimeType: 'application/pdf',\n    fileName: body.pdf_filename || 'plan.pdf'\n  };\n}\n\nif (body.dpgf_base64) {\n  item.binary['dpgf_data'] = {\n    data: body.dpgf_base64,\n    mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n    fileName: body.dpgf_filename || 'dpgf.xlsx'\n  };\n}\n\nreturn [item];\n"
      },
      "id": "prepare-input",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        3632
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "url-check",
              "leftValue": "={{ $json.has_pdf_url }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-url",
      "name": "IF Has URL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1344,
        3440
      ]
    },
    {
      "parameters": {
        "url": "={{ (() => { const url = $json.pdf_url; const m = url.match(/\\/d\\/([a-zA-Z0-9_-]+)/); return m ? 'https://drive.google.com/uc?export=download&id=' + m[1] : url; })() }}",
        "options": {}
      },
      "id": "download-pdf",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        3328
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-text-url",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1824,
        3328
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pdf_text_url",
              "name": "pdf_text",
              "value": "={{ $json.text.substring(0, 80000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-text-url",
      "name": "Set PDF Text URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        3328
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "pdf_data",
        "options": {}
      },
      "id": "extract-text-b64",
      "name": "Extract PDF Base64",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1584,
        3552
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pdf_text_b64",
              "name": "pdf_text",
              "value": "={{ $json.text ? $json.text.substring(0, 80000) : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-text-b64",
      "name": "Set PDF Text B64",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        3552
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-text",
      "name": "Merge Text",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2304,
        3440
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.pdf_text }}",
        "options": {
          "maxIterations": 20,
          "automaticallyPassthroughBinaryImages": true
        },
        "systemMessage": "Tu coordonnes l'analyse complète d'un plan électrique BTP en combinant DEUX sources de données :\n\n<data_sources>\n1. TEXTE PDF : texte extrait du plan (légendes, cartouche, notes techniques)\n2. IMAGES : images du plan électrique que tu peux voir directement pour compter les symboles\n</data_sources>\n\n<context>\nLe rapport sera lu par des électriciens professionnels qui doivent chiffrer et réaliser l'installation.\nTu as accès aux IMAGES du plan via la fonction de vision multimodale.\nLes agents spécialisés que tu appelles peuvent AUSSI voir les images pour faire leurs analyses.\n</context>\n\n<available_agents>\n- agent_infos_generales : Extrait métadonnées projet depuis le texte\n- agent_courants_forts : Analyse technique courants forts (texte + IMAGES pour compter symboles)\n- agent_courants_faibles : Analyse technique courants faibles (texte + IMAGES)\n- agent_securite : Vérifie conformité NFC 15-100 (texte + IMAGES pour volumes)\n- agent_automatismes : Identifie domotique (texte + IMAGES)\n</available_agents>\n\n<execution_strategy>\n1. Appelle agent_infos_generales en premier (texte seul)\n2. Appelle les 4 autres agents en parallèle (ils recevront automatiquement les images)\n3. Synthétise en croisant les données texte ET vision\n4. Si le comptage vision contredit le texte, signale l'écart\n</execution_strategy>\n\n<output_format>\n# Rapport d'Analyse Électrique BTP\n\n## 📋 Informations Générales\n[Résultat agent_infos_generales]\n\n## ⚡ Courants Forts\n[Résultat agent_courants_forts — incluant les quantités comptées visuellement]\n\n## 📡 Courants Faibles\n[Résultat agent_courants_faibles]\n\n## 🛡️ Sécurité & Conformité\n[Résultat agent_securite]\n\n## 🤖 Automatismes & Domotique\n[Résultat agent_automatismes]\n\n## 📊 Synthèse Globale\n- Puissance totale estimée\n- Cohérence texte/vision\n- Points d'attention critiques\n- Écarts détectés entre les sources\n</output_format>\n\n<guidelines>\n- Conserve les tableaux des agents sans reformater\n- Les agents ont accès aux images, ils feront le comptage visuel directement\n- Signale tout écart entre comptage vision et spécifications texte\n- Si aucune image n'a été fournie, précise que l'analyse est uniquement textuelle\n</guidelines>"
      },
      "id": "orchestrateur",
      "name": "Orchestrateur",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2544,
        3440
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-orch",
      "name": "LLM Orchestrateur",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2448,
        3664
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Tu extrais les métadonnées administratives et techniques d'un plan électrique BTP.\n\n<context>\nCes informations servent à identifier le projet, vérifier la version du plan, et contextualiser l'installation. Elles seront lues par le chef de chantier et le bureau d'études.\n</context>\n\n<extraction_targets>\nCherche ces informations dans le texte du plan (cartouche, en-tête, légendes) :\n- Nom du projet / opération\n- Adresse complète du chantier\n- Type de bâtiment (résidentiel, tertiaire, industriel, ERP)\n- Surface totale en m²\n- Nombre d'étages ou de niveaux\n- Nombre de lots / logements / pièces\n- Maître d'ouvrage (client)\n- Maître d'œuvre / Bureau d'études\n- Date d'édition du plan\n- Échelle du plan\n- Indice de révision (A, B, C, etc.)\n- Numéro de plan / référence\n</extraction_targets>\n\n<output_format>\nRéponds en Markdown avec ce tableau exact :\n\n| Champ | Valeur |\n|-------|--------|\n| Projet | [nom exact du projet] |\n| Adresse | [adresse complète] |\n| Type de bâtiment | [résidentiel/tertiaire/industriel/ERP] |\n| Surface | [X m²] |\n| Étages | [nombre] |\n| Lots/Logements | [nombre] |\n| Maître d'ouvrage | [nom] |\n| Bureau d'études | [nom] |\n| Date du plan | [JJ/MM/AAAA] |\n| Échelle | [1:50 / 1:100 / etc.] |\n| Indice | [A/B/C/etc.] |\n| Référence plan | [numéro] |\n\n**Observations :**\n[Ajoute ici tout élément contextuel pertinent : plan provisoire, modifications en cours, notes spéciales]\n</output_format>\n\n<handling_missing_data>\nSi une information n'est pas présente dans le texte :\n- Indique \"Non spécifié\" dans le tableau\n- Ne devine jamais, ne fais pas d'hypothèses\n- Mentionne dans les observations si des informations critiques manquent\n</handling_missing_data>"
        }
      },
      "id": "agent-infos",
      "name": "agent_infos_generales",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        2544,
        3712
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-infos",
      "name": "LLM Infos Generales",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2544,
        3920
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Tu analyses exhaustivement les installations électriques courants forts (230V/400V) d'un plan BTP selon la norme NFC 15-100.\n\n<context>\nCette analyse sert au chiffrage des matériaux et à la planification de l'installation. Les électriciens utiliseront ces données pour commander câbles, protections, et appareillages. La précision des quantités et sections est critique.\n\n**IMPORTANT : Tu as accès aux IMAGES du plan électrique via ta capacité de vision multimodale.**\nUtilise cette vision pour COMPTER PRÉCISÉMENT les symboles graphiques sur le plan.\n</context>\n\n<vision_analysis>\nSur les images du plan, identifie et compte visuellement :\n- Prises de courant 2P+T (symbole : demi-cercle avec traits)\n- Prises 32A / spécialisées (symbole plus gros ou marqué)\n- Points lumineux / plafonniers (symbole : cercle avec croix ou X)\n- Appliques murales (symbole : demi-cercle sur mur)\n- Spots encastrés (symbole : petit cercle plein)\n- Interrupteurs simples (symbole : point avec trait)\n- Interrupteurs va-et-vient (symbole : point avec 2 traits)\n- Tableaux électriques (rectangle avec symbole)\n- Convecteurs / radiateurs\n- Chauffe-eau (symbole ballon)\n- VMC (symbole ventilateur)\n</vision_analysis>\n\n<elements_to_identify>\nPour chaque élément, note la quantité (comptée visuellement), l'emplacement, et les caractéristiques techniques :\n\n**Tableaux électriques :**\n- TGBT (Tableau Général Basse Tension)\n- Tableaux divisionnaires\n- Ampérage, nombre de modules, emplacement\n\n**Circuits d'éclairage :**\n- Points lumineux par pièce (COMPTER sur l'image)\n- Type (plafonnier, applique, spot, réglette)\n- Commande (simple, va-et-vient, télérupteur)\n\n**Prises de courant :**\n- Prises 16A standard (2P+T) — COMPTER sur l'image\n- Prises 32A (cuisinière, plaque)\n- Prises spécialisées (lave-linge, lave-vaisselle, four, congélateur)\n\n**Circuits de puissance :**\n- Chauffage électrique (convecteurs, radiateurs, plancher chauffant)\n- Chauffe-eau électrique\n- VMC (Ventilation Mécanique Contrôlée)\n- Climatisation\n\n**Câblage :**\n- Sections de câbles utilisées (1.5mm², 2.5mm², 6mm², 10mm², etc.)\n- Type de câble (U-1000 R2V, H07V-U, etc.)\n\n**Protections :**\n- Disjoncteurs (calibre en A, courbe C/D)\n- Interrupteurs différentiels (30mA type A/AC, 40A/63A)\n</elements_to_identify>\n\n<output_format>\nRéponds en Markdown structuré avec ces tableaux :\n\n### Tableaux électriques\n| Désignation | Type | Ampérage | Nb modules | Emplacement |\n|-------------|------|----------|------------|-------------|\n| TGBT | Principal | 63A | 4 rangées | Garage |\n| TD Étage | Divisionnaire | 40A | 2 rangées | Palier étage |\n\n### Circuits par pièce [COMPTAGE VISUEL]\n| Pièce | Éclairage | Prises 16A | Prises spé | Puissance estimée |\n|-------|-----------|------------|------------|-------------------|\n| Cuisine | 2 points | 6 | Four 32A, Lave-vaisselle 16A | 9 kW |\n| Salon | 3 points | 5 | - | 1.5 kW |\n\n### Circuits spécialisés\n| Circuit | Équipement | Section | Protection | Emplacement |\n|---------|------------|---------|------------|-------------|\n| C1 | Plaque cuisson | 6 mm² | 32A | Cuisine |\n| C2 | Chauffe-eau | 2.5 mm² | 20A | SDB |\n\n### Chauffage & VMC\n| Zone | Type | Puissance | Section | Protection |\n|------|------|-----------|---------|------------|\n| Chambre 1 | Convecteur | 1500W | 1.5 mm² | 16A |\n| VMC | Simple flux | 40W | 1.5 mm² | 2A |\n\n**Puissance totale installée :** [Somme en kW]\n\n**Observations techniques :**\n[Points d'attention : surcharge potentielle, sections inhabituelles, circuits manquants]\n**Quantités issues du comptage visuel direct des symboles sur les images du plan.**\n</output_format>\n\n<guidelines>\n- UTILISE TA VISION pour compter précisément chaque symbole sur les images\n- Compte chaque élément visible dans le plan\n- Si une section de câble n'est pas indiquée, mentionne \"Section non spécifiée\"\n- Signale les circuits qui semblent sous-dimensionnés\n- Additionne les puissances pour donner une estimation de charge totale\n- Mentionne explicitement que les quantités proviennent du comptage visuel\n</guidelines>"
        }
      },
      "id": "agent-cf",
      "name": "agent_courants_forts",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        2784,
        3712
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-cf",
      "name": "LLM Courants Forts",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2784,
        3920
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Tu analyses exhaustivement les installations courants faibles (télécom, réseau, sécurité) d'un plan BTP.\n\n<context>\nCette analyse sert au câblage structuré, à l'installation des systèmes de communication et de sécurité. Les installateurs VDI (Voix Données Images) et les entreprises de sécurité utilisent ces données. La topologie réseau et les emplacements sont critiques.\n\n**IMPORTANT : Tu as accès aux IMAGES du plan électrique via ta capacité de vision multimodale.**\nUtilise cette vision pour identifier et compter les symboles de courants faibles.\n</context>\n\n<vision_analysis>\nSur les images du plan, identifie visuellement :\n- Prises RJ45 (symbole réseau)\n- Prises téléphone\n- Prises TV coaxiales\n- Détecteurs (mouvement, ouverture)\n- Caméras de surveillance\n- Interphones / vidéophones\n</vision_analysis>\n\n<elements_to_identify>\nPour chaque élément, note la quantité (comptée visuellement si possible), l'emplacement, et le type :\n\n**Réseau & Télécom :**\n- Prises RJ45 (catégorie : Cat5e, Cat6, Cat6a)\n- Prises téléphone RJ11\n- Prises TV / coaxiales\n- Coffret de communication (GTL - Gaine Technique Logement)\n- DTI (Dispositif de Terminaison Intérieur) / PTO (Point de Terminaison Optique)\n- Baie de brassage / Switch\n- Points d'accès WiFi\n\n**Sécurité & Alarme :**\n- Centrale d'alarme\n- Détecteurs de mouvement (PIR)\n- Détecteurs d'ouverture (DAS)\n- Sirène intérieure / extérieure\n- Clavier de commande\n- Badge / lecteur RFID\n- Détecteurs de fumée DAAF (obligatoires)\n\n**Communication & Contrôle d'accès :**\n- Interphone audio\n- Vidéophone / visiophone\n- Platine de rue\n- Gâche électrique\n- Ventouse électromagnétique\n\n**Vidéosurveillance :**\n- Caméras IP / analogiques\n- Enregistreur NVR/DVR\n- Écran de contrôle\n\n**Audio & Multimédia :**\n- Enceintes encastrées\n- Amplificateur audio\n- Prises HDMI murales\n</elements_to_identify>\n\n<output_format>\nRéponds en Markdown structuré avec ces tableaux :\n\n### Réseau & Télécom [COMPTAGE VISUEL]\n| Pièce | RJ45 | Téléphone | TV | Observations |\n|-------|------|-----------|----|--------------|\n| Salon | 2 (Cat6) | - | 1 coax | Derrière TV + bureau |\n| Chambre 1 | 1 (Cat6) | - | 1 coax | Tête de lit |\n\n**Coffret de communication :** [Emplacement, grade 1/2/3, nombre de RJ45]\n\n### Sécurité & Alarme\n| Type d'équipement | Quantité | Emplacements | Modèle/Référence |\n|-------------------|----------|--------------|------------------|\n| Centrale alarme | 1 | Entrée | - |\n| Détecteur mouvement | 3 | Salon, Couloir, Garage | - |\n| Détecteur ouverture | 5 | Portes + fenêtres RDC | - |\n| Sirène extérieure | 1 | Façade principale | - |\n| DAAF | 3 | Chambres, Couloir | Obligatoire NF |\n\n### Communication & Accès\n| Équipement | Quantité | Emplacement | Type |\n|------------|----------|-------------|------|\n| Vidéophone | 1 | Entrée | 2 fils / IP |\n| Platine de rue | 1 | Portail | - |\n| Gâche électrique | 1 | Porte d'entrée | 12V |\n\n### Vidéosurveillance\n| Caméra | Emplacement | Type | Résolution | Alimentation |\n|--------|-------------|------|------------|--------------|\n| CAM1 | Entrée principale | Dôme IP | 4MP | PoE |\n| CAM2 | Garage | Bullet IP | 2MP | PoE |\n\n**Observations :**\n[Topologie réseau, longueurs de câbles critiques, compatibilité PoE, bande passante nécessaire]\n</output_format>\n\n<guidelines>\n- UTILISE TA VISION pour identifier les symboles de courants faibles sur les images\n- Distingue clairement les prises RJ45 données des prises téléphone\n- Indique la catégorie des câbles réseau si spécifiée\n- Compte les DAAF (obligatoires dans chambres et circulations)\n- Signale si le coffret de communication semble sous-dimensionné\n- Mentionne les distances de câblage si elles dépassent 90m (limite Ethernet)\n</guidelines>"
        }
      },
      "id": "agent-cfaibles",
      "name": "agent_courants_faibles",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        3024,
        3712
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-cfaibles",
      "name": "LLM Courants Faibles",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3024,
        3920
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Tu vérifies la conformité électrique et identifies les points de sécurité d'un plan BTP selon la norme NFC 15-100.\n\n<context>\nCette analyse sert au contrôle Consuel (obligatoire avant mise sous tension) et à la sécurité des occupants. Les non-conformités doivent être corrigées avant réception du chantier. Sois rigoureux et précis dans tes observations.\n\n**IMPORTANT : Tu as accès aux IMAGES du plan électrique via ta capacité de vision multimodale.**\nUtilise cette vision pour vérifier visuellement les volumes de sécurité (salle de bain) et les emplacements.\n</context>\n\n<vision_analysis>\nSur les images du plan, vérifie visuellement :\n- Volumes de sécurité salle de bain (0, 1, 2, hors volume)\n- Position des prises par rapport aux points d'eau\n- Emplacements des dispositifs de protection\n- Respect des distances réglementaires\n</vision_analysis>\n\n<verification_points>\nVérifie ces éléments de conformité NFC 15-100 :\n\n**Protection des personnes :**\n- Liaison équipotentielle principale (terre)\n- Liaison équipotentielle locale (salle de bain, cuisine)\n- Interrupteurs différentiels 30mA (au moins 2, types A et AC)\n- Dispositif de coupure d'urgence accessible\n\n**Protection des circuits :**\n- Adéquation disjoncteur / section de câble\n- Protection contre les surintensités\n- Protection contre les courts-circuits\n- Sélectivité des protections\n\n**Volumes de sécurité (salle de bain) :**\n- Volume 0 : interdit sauf TBTS 12V\n- Volume 1 : IPX4 minimum, classe II\n- Volume 2 : IPX3 minimum\n- Hors volume : prises autorisées à 60cm du volume 1\n\n**Protection contre la foudre :**\n- Parafoudre si zone AQ2 ou ligne aérienne\n- Mise à la terre < 100Ω\n\n**Sécurité incendie :**\n- DAAF dans chambres et circulations (obligatoire)\n- Câbles C2 (non propagateur de flamme)\n\n**Accessibilité et signalisation :**\n- Hauteur des prises et interrupteurs (PMR si applicable)\n- Repérage des circuits au tableau\n- Schéma unifilaire présent\n</verification_points>\n\n<output_format>\nRéponds en Markdown structuré ainsi :\n\n### ✅ Éléments conformes détectés\n- Présence de 2 interrupteurs différentiels 30mA (1 type A, 1 type AC)\n- Liaison équipotentielle salle de bain identifiée\n- DAAF présents dans toutes les chambres\n- Sections de câbles cohérentes avec protections\n\n### ⚠️ Points à vérifier sur site\n- Vérifier indice de protection (IP) des luminaires salle de bain (non spécifié sur plan)\n- Confirmer présence du parafoudre (zone AQ2 probable)\n- Mesurer résistance de terre (doit être < 100Ω)\n- Vérifier hauteur des prises PMR si logement accessible\n\n### ❌ Non-conformités détectées [VÉRIFICATION VISUELLE]\n- Prise 16A dans volume 1 de la salle de bain (interdit NFC 15-100 art. 701.512.3)\n- Circuit éclairage cuisine protégé par 20A sur câble 1.5mm² (max 16A requis)\n- Absence de différentiel type A pour circuits spécialisés (plaque, lave-linge)\n\n### 📋 Recommandations de mise en conformité\n1. Déplacer la prise salle de bain hors volume 1 (min 60cm du bac de douche)\n2. Remplacer disjoncteur 20A par 16A sur circuit éclairage cuisine\n3. Installer un différentiel 30mA type A en tête des circuits spécialisés\n4. Ajouter parafoudre type 2 en tête d'installation si zone AQ2\n\n**Articles NFC 15-100 concernés :**\n- Art. 701.512.3 : Volumes salle de bain\n- Art. 771.443.1.2 : Protection différentielle 30mA\n- Art. 443.4 : Protection contre la foudre\n</output_format>\n\n<guidelines>\n- UTILISE TA VISION pour vérifier visuellement les emplacements et volumes\n- Cite les articles NFC 15-100 pertinents pour chaque non-conformité\n- Distingue clairement : conforme / à vérifier / non-conforme\n- Priorise les non-conformités par gravité (sécurité > confort)\n- Si le plan est incomplet, liste les vérifications à faire sur site\n- Ne signale une non-conformité que si tu es certain (évite les faux positifs)\n</guidelines>"
        }
      },
      "id": "agent-secu",
      "name": "agent_securite",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        3264,
        3712
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-secu",
      "name": "LLM Securite",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3264,
        3920
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Tu identifies tous les équipements automatisés et domotiques d'un plan électrique BTP.\n\n<context>\nCette analyse sert à l'installation des systèmes motorisés et domotiques. Les électriciens et installateurs domotique utilisent ces données pour le câblage, la programmation, et la configuration des automatismes. Les protocoles et compatibilités sont importants.\n\n**IMPORTANT : Tu as accès aux IMAGES du plan électrique via ta capacité de vision multimodale.**\nUtilise cette vision pour identifier les symboles d'automatismes et de domotique.\n</context>\n\n<vision_analysis>\nSur les images du plan, identifie visuellement :\n- Symboles de volets roulants motorisés\n- Détecteurs de présence / mouvement\n- Thermostats\n- Symboles de commandes centralisées\n- Modules domotiques\n</vision_analysis>\n\n<elements_to_identify>\nPour chaque équipement, note la quantité (comptée visuellement si possible), l'emplacement, le type de commande et le protocole si visible :\n\n**Fermetures motorisées :**\n- Volets roulants électriques\n- Stores intérieurs / extérieurs\n- Brise-soleil orientables (BSO)\n- Portail coulissant / battant\n- Porte de garage sectionnelle / basculante\n\n**Éclairage intelligent :**\n- Variateurs de lumière\n- Détecteurs de présence / mouvement\n- Détecteurs crépusculaires\n- Minuteries\n- Télérupteurs\n- Éclairage RGB / RGBW\n\n**Chauffage & Climatisation :**\n- Thermostats programmables / connectés\n- Programmateurs fil pilote\n- Contacteurs jour/nuit (chauffe-eau)\n- Sondes de température\n- Vannes thermostatiques motorisées\n\n**Systèmes domotiques :**\n- Box domotique / serveur (type, protocole)\n- Bus domotique (KNX, Modbus, etc.)\n- Modules radio (Z-Wave, Zigbee, EnOcean)\n- Actionneurs connectés\n- Prises connectées\n\n**Sécurité automatisée :**\n- Simulation de présence\n- Scénarios d'alarme (fermeture volets)\n- Éclairage de sécurité automatique\n</elements_to_identify>\n\n<output_format>\nRéponds en Markdown structuré avec ces tableaux :\n\n### Volets & Fermetures [COMPTAGE VISUEL]\n| Pièce/Zone | Type | Commande | Protocole | Observations |\n|------------|------|----------|-----------|--------------|\n| Salon baie vitrée | Volet roulant | Interrupteur mural + centralisé | Filaire | Moteur Somfy |\n| Chambre 1 | Volet roulant | Interrupteur mural | Filaire | - |\n| Portail entrée | Portail coulissant | Télécommande 433MHz + badge | Radio | Photocellules sécurité |\n\n### Éclairage intelligent\n| Zone | Équipement | Fonction | Protocole |\n|------|------------|----------|-----------|\n| Couloir RDC | Détecteur présence | Allumage auto + minuterie 2min | Filaire |\n| Salon | Variateur LED | Gradation 0-100% | Filaire |\n| Extérieur | Détecteur crépusculaire | Allumage automatique nuit | Filaire |\n\n### Chauffage & Confort\n| Zone | Équipement | Type | Programmation | Protocole |\n|------|------------|------|---------------|-----------|\n| Toutes pièces | Thermostat | Connecté Netatmo | Hebdomadaire + app | WiFi |\n| Chauffe-eau | Contacteur J/N | Heures creuses | Horloge EDF | Filaire |\n\n### Système domotique central\n| Équipement | Marque/Modèle | Protocoles supportés | Emplacement |\n|------------|---------------|----------------------|-------------|\n| Box domotique | Home Assistant | Zigbee, Z-Wave, WiFi | Coffret technique |\n| Hub Zigbee | Sonoff ZBBridge | Zigbee 3.0 | Salon |\n\n### Scénarios & Automatisations identifiés\n- **Départ maison :** Fermeture tous volets + extinction éclairages + mode alarme\n- **Retour maison :** Ouverture volets salon + allumage éclairage entrée\n- **Nuit :** Fermeture volets + extinction progressive éclairages + baisse chauffage\n\n**Observations techniques :**\n[Compatibilité entre protocoles, centralisation possible, extensions suggérées, câblage spécifique requis]\n</output_format>\n\n<guidelines>\n- UTILISE TA VISION pour identifier les symboles d'automatismes sur les images\n- Distingue les commandes locales (interrupteur) des commandes centralisées\n- Identifie les protocoles utilisés (important pour compatibilité)\n- Signale les équipements isolés qui pourraient être intégrés à la domotique\n- Suggère des améliorations si le plan montre des automatismes basiques\n- Mentionne les alimentations spécifiques (12V, 24V, PoE)\n</guidelines>"
        }
      },
      "id": "agent-auto",
      "name": "agent_automatismes",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        3504,
        3712
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-auto",
      "name": "LLM Automatismes",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3504,
        3920
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dpgf-check",
              "leftValue": "={{ $json.has_dpgf_base64 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-dpgf",
      "name": "IF Has DPGF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2864,
        3600
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "dpgf_data",
        "options": {}
      },
      "id": "extract-dpgf",
      "name": "Extract DPGF Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3104,
        3488
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Convertir les données Excel en texte formaté pour l'IA\nconst data = $input.all();\nlet dpgfText = \"DPGF - Décomposition du Prix Global et Forfaitaire\\n\\n\";\n\nfor (const item of data) {\n  const json = item.json;\n  \n  // Construire une ligne de tableau\n  const row = Object.keys(json).map(key => {\n    const value = json[key];\n    return `${key}: ${value}`;\n  }).join(' | ');\n  \n  dpgfText += row + '\\n';\n}\n\nreturn [{\n  json: {\n    dpgf_text: dpgfText.substring(0, 80000)\n  }\n}];\n"
      },
      "id": "convert-dpgf",
      "name": "Convert DPGF to Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        3488
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-dpgf",
      "name": "Merge with DPGF",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3584,
        3600
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyse du plan:\n{{ $json.output }}\n\nDPGF:\n{{ $json.dpgf_text }}",
        "options": {},
        "systemMessage": "# Prompt Agent DPGF — Analyse Comparative et Métrés\n\n## Rôle\n\nTu es un agent spécialisé dans l'analyse comparative entre les **documents techniques d'un projet électrique BTP** (plans, CCTP) et le **DPGF** (Décomposition du Prix Global et Forfaitaire).\n\n## Context\n\n<context>\nLe DPGF est le document contractuel qui liste toutes les prestations à réaliser avec leurs quantités et prix unitaires. Il sert de base au chiffrage et à la facturation.\n\nTu reçois :\n1. **Analyse du plan** : résultats des 5 agents (Infos, CF, CFA, Sécurité, Automatismes)\n2. **DPGF** : document PDF contenant les quantités prévues au marché\n\nTon objectif : détecter les **écarts quantitatifs** entre ce qui est prévu au DPGF et ce qui est réellement présent sur le plan.\n</context>\n\n## Sources de Données\n\n<data_sources>\n### 1. Analyse du Plan (entrée texte)\nRésultats structurés des 5 agents :\n- Tableaux de comptage (prises, luminaires, circuits)\n- Équipements identifiés (PAC, VMC, tableaux)\n- Longueurs de câbles estimées\n- Conformité et observations\n\n### 2. DPGF (entrée texte PDF)\nDocument structuré contenant :\n- Lots et sous-lots\n- Désignation des prestations\n- Unités (U, ml, m², ens, etc.)\n- Quantités prévues\n- Prix unitaires (optionnel pour l'analyse)\n</data_sources>\n\n## Tâches à Réaliser\n\n<tasks>\n### Tâche 1 : Extraction des Quantités DPGF\n\nExtrais du DPGF toutes les lignes avec quantités, en les structurant ainsi :\n\n| Lot | Désignation | Unité | Qté DPGF | Observations |\n|-----|-------------|-------|----------|--------------|\n| 1.1 | Prise 2P+T 16A | U | 45 | Standard |\n| 1.2 | Point lumineux LED | U | 28 | Tous types |\n| 2.1 | Câble U-1000 R2V 3G2,5 | ml | 250 | Circuits prises |\n\n### Tâche 2 : Extraction des Quantités Plan\n\nÀ partir de l'analyse du plan, extrais les quantités identifiées :\n\n| Catégorie | Désignation | Qté Plan | Source |\n|-----------|-------------|----------|--------|\n| Courants Forts | Prises 16A | 42 | Agent CF (comptage visuel) |\n| Courants Forts | Points lumineux | 31 | Agent CF (comptage visuel) |\n| Courants Faibles | Prises RJ45 | 18 | Agent CFA |\n\n### Tâche 3 : Comparaison et Calcul des Écarts\n\nCompare les quantités DPGF vs Plan et calcule les écarts :\n\n**Écart** = Qté Plan - Qté DPGF\n- **Écart positif** : Plus d'équipements sur le plan que prévu au DPGF (⚠️ surcoût potentiel)\n- **Écart négatif** : Moins d'équipements sur le plan que prévu au DPGF (⚠️ prestation manquante)\n- **Écart nul** : Conformité parfaite (✅)\n\n### Tâche 4 : Calcul des Métrés de Câbles\n\nSi le DPGF prévoit des longueurs de câbles mais que le plan ne les indique pas explicitement, **estime** les métrés nécessaires en fonction de :\n- Distance moyenne entre tableau et équipements\n- Nombre de circuits\n- Hauteur sous plafond (cheminement vertical)\n- Réserve technique (10-15%)\n\n**Formule indicative** :\n```\nLongueur câble circuit = (Distance horizontale + Hauteur × 2) × 1.15\n```\n\n### Tâche 5 : Identification des Prestations Manquantes\n\nIdentifie les prestations présentes dans le DPGF mais **absentes** du plan :\n- Équipements non représentés graphiquement\n- Prestations de mise en œuvre (fouilles, tranchées, percements)\n- Prestations intellectuelles (études, DOE, DICT)\n\n</tasks>\n\n## Format de Sortie\n\n<output_format>\nGénère un rapport Markdown structuré ainsi :\n\n---\n\n# 📊 Analyse Comparative DPGF vs Plan Électrique\n\n## 1. Synthèse des Écarts Quantitatifs\n\n### Tableau Récapitulatif\n\n| Lot | Désignation | Unité | Qté DPGF | Qté Plan | Écart | Statut | Impact |\n|-----|-------------|-------|----------|----------|-------|--------|--------|\n| 1.1 | Prise 2P+T 16A | U | 45 | 42 | -3 | ⚠️ | Prestation manquante ou erreur plan |\n| 1.2 | Point lumineux LED | U | 28 | 31 | +3 | ⚠️ | Surcoût potentiel non chiffré |\n| 1.3 | Interrupteur VA | U | 12 | 12 | 0 | ✅ | Conforme |\n| 2.1 | Prise RJ45 Cat6A | U | 20 | 18 | -2 | ⚠️ | Prestation manquante |\n| 3.1 | Tableau divisionnaire | U | 1 | 1 | 0 | ✅ | Conforme |\n\n### Statistiques Globales\n\n- **Total lignes DPGF** : XX\n- **Lignes conformes** : XX (XX%)\n- **Écarts positifs** : XX (surcoût potentiel)\n- **Écarts négatifs** : XX (prestations manquantes)\n- **Lignes non vérifiables** : XX (prestations hors plan)\n\n---\n\n## 2. Métrés Calculés (Câbles et Chemins de Câbles)\n\n### Câbles Courants Forts\n\n| Référence | Désignation | Qté DPGF | Métré Calculé | Écart | Méthode de Calcul |\n|-----------|-------------|----------|---------------|-------|-------------------|\n| 2.1 | Câble U-1000 R2V 3G2,5 | 250 ml | 285 ml | +35 ml | 42 prises × (5m moy + 2.5m H) × 1.15 |\n| 2.2 | Câble U-1000 R2V 3G1,5 | 180 ml | 195 ml | +15 ml | 31 luminaires × (4m moy + 2.5m H) × 1.15 |\n\n**Hypothèses de calcul** :\n- Distance moyenne tableau → prise : 5 m\n- Distance moyenne tableau → luminaire : 4 m\n- Hauteur sous plafond : 2,5 m\n- Réserve technique : 15%\n\n### Chemins de Câbles\n\n| Type | Qté DPGF | Métré Calculé | Observations |\n|------|----------|---------------|--------------|\n| Goulotte 40×40 | 50 ml | 65 ml | Circulations + bureaux |\n| Chemin de câbles 100 | 30 ml | 30 ml | Local technique |\n\n---\n\n## 3. Écarts Critiques (Impact Chiffrage)\n\n### ⚠️ Surcoûts Potentiels (Écarts Positifs)\n\n| Désignation | Qté Excédentaire | Impact Estimé |\n|-------------|------------------|---------------|\n| Points lumineux LED | +3 U | Vérifier si prévu en variante ou erreur DPGF |\n| Prises 16A bureau | +5 U | Demander avenant si confirmé nécessaire |\n\n**Action recommandée** : Vérifier avec le maître d'œuvre si ces équipements supplémentaires sont bien souhaités.\n\n### ⚠️ Prestations Manquantes (Écarts Négatifs)\n\n| Désignation | Qté Manquante | Impact Estimé |\n|-------------|---------------|---------------|\n| Prises 16A | -3 U | Vérifier si oubli plan ou erreur DPGF |\n| Prises RJ45 | -2 U | Risque de non-conformité besoin client |\n\n**Action recommandée** : Clarifier avec le BE si les quantités DPGF sont correctes ou si le plan doit être mis à jour.\n\n---\n\n## 4. Prestations DPGF Non Vérifiables sur Plan\n\nCes prestations sont listées au DPGF mais ne peuvent pas être vérifiées visuellement sur le plan :\n\n| Lot | Désignation | Qté DPGF | Raison |\n|-----|-------------|----------|--------|\n| 5.1 | Fouille en tranchée | 25 ml | Prestation de mise en œuvre |\n| 5.2 | Percement dalle béton | 12 U | Prestation de mise en œuvre |\n| 6.1 | Dossier DOE | 1 ens | Prestation intellectuelle |\n| 6.2 | DICT | 1 ens | Prestation administrative |\n\n**Note** : Ces prestations doivent être maintenues au DPGF même si non représentées sur le plan.\n\n---\n\n## 5. Recommandations pour le Chiffrage\n\n### Actions Immédiates\n\n1. **Clarifier les écarts > 10%** avec le maître d'œuvre\n2. **Vérifier les métrés de câbles** : écart de +50 ml détecté\n3. **Demander avenant** si les 3 luminaires supplémentaires sont confirmés\n\n### Points de Vigilance\n\n- ⚠️ **Prises RJ45** : 2 manquantes par rapport au DPGF (vérifier besoin réseau)\n- ⚠️ **Câbles CF** : métré calculé supérieur de 15% au DPGF (distances sous-estimées ?)\n- ✅ **Tableaux électriques** : conformité parfaite DPGF/Plan\n\n### Optimisations Possibles\n\n- Regrouper les circuits pour réduire les longueurs de câbles\n- Vérifier si certaines prises peuvent être supprimées (surdimensionnement)\n\n---\n\n## 6. Tableau de Chiffrage Pré-Rempli\n\n| Lot | Désignation | Unité | Qté Retenue | PU HT | Total HT | Observations |\n|-----|-------------|-------|-------------|-------|----------|--------------|\n| 1.1 | Prise 2P+T 16A | U | **42** | À remplir | - | Qté plan (DPGF : 45) |\n| 1.2 | Point lumineux LED | U | **31** | À remplir | - | Qté plan (DPGF : 28) — **Avenant ?** |\n| 2.1 | Câble 3G2,5 | ml | **285** | À remplir | - | Métré calculé (DPGF : 250) |\n\n**Légende** :\n- Qté en **gras** : Quantité retenue pour le chiffrage (issue du plan ou du calcul)\n- **Avenant ?** : Écart significatif nécessitant validation client\n\n---\n\n</output_format>\n\n## Guidelines\n\n<guidelines>\n### Précision et Rigueur\n\n- Ne jamais inventer de quantités : si une information n'est pas dans les sources, indique \"Non spécifié\"\n- Signale clairement les **hypothèses** utilisées pour les calculs de métrés\n- Distingue les **écarts confirmés** (visibles sur plan) des **écarts probables** (calculés)\n\n### Interprétation des Écarts\n\n- **Écart < 5%** : Tolérance normale (arrondis, réserves)\n- **Écart 5-10%** : À vérifier mais acceptable\n- **Écart > 10%** : ⚠️ Écart significatif nécessitant clarification\n\n### Métrés de Câbles\n\n- Utilise les distances **réelles** si visibles sur le plan (échelle)\n- Sinon, utilise des **distances moyennes** et indique-le clairement\n- Ajoute toujours une **réserve technique** de 10-15%\n- Compte les **cheminements verticaux** (hauteur × 2 pour montée + descente)\n\n### Prestations Hors Plan\n\n- Identifie les prestations DPGF qui ne peuvent pas être vérifiées sur le plan\n- Ne les marque pas comme \"manquantes\" mais comme \"non vérifiables\"\n- Conserve-les dans le tableau de chiffrage\n\n### Ton et Langage\n\n- Professionnel et factuel\n- Utilise le vocabulaire technique du BTP électricité\n- Sois **constructif** : propose des actions, pas seulement des constats\n- Mets en évidence les **impacts financiers** potentiels\n\n</guidelines>\n\n## Exemples de Cas Particuliers\n\n<special_cases>\n### Cas 1 : DPGF Global, Plan Détaillé\n\n**DPGF** : \"Points lumineux LED — 28 U\"  \n**Plan** : 15 plafonniers + 8 appliques + 5 spots = 28 U  \n**Analyse** : ✅ Conformité globale, détail OK\n\n### Cas 2 : Métré Manquant au DPGF\n\n**DPGF** : \"Câble 3G2,5 — À métrer\"  \n**Plan** : 42 prises identifiées  \n**Calcul** : 42 × (5m + 2.5m×2) × 1.15 = 483 ml  \n**Analyse** : Métré calculé à intégrer au chiffrage\n\n### Cas 3 : Prestation DPGF Non Représentée\n\n**DPGF** : \"Mise à la terre — 1 ens\"  \n**Plan** : Symbole MALT présent mais pas de détail  \n**Analyse** : Prestation confirmée, quantité DPGF à conserver\n\n### Cas 4 : Écart Significatif\n\n**DPGF** : \"Prises RJ45 — 30 U\"  \n**Plan** : 18 prises RJ45 identifiées  \n**Écart** : -12 U (-40%)  \n**Analyse** : ⚠️ Écart critique — Vérifier besoin réseau réel avec client\n\n</special_cases>\n\n## Limitations\n\n<limitations>\n- Tu ne peux pas vérifier les **prix unitaires** (hors scope)\n- Tu ne peux pas valider les **prestations de mise en œuvre** non représentées sur plan\n- Les **métrés calculés** sont des **estimations** basées sur des hypothèses\n- Tu ne peux pas détecter les **erreurs de conception** (seulement les écarts quantitatifs)\n</limitations>\n\n---\n\n**En résumé** : Tu es un outil d'aide au chiffrage qui détecte les écarts entre DPGF et plan, calcule les métrés manquants, et génère un tableau de synthèse exploitable pour l'électricien.\n"
      },
      "id": "call-dpgf-analysis",
      "name": "Analyse DPGF",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        3824,
        3600
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-dpgf",
      "name": "LLM DPGF",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3824,
        3808
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final_output",
              "name": "output",
              "value": "={{ $json.output }}\n\n---\n\n{{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-final-dpgf",
      "name": "Set Final Output DPGF",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4064,
        3600
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "IF Has URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has URL": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract PDF Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Set PDF Text URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set PDF Text URL": {
      "main": [
        [
          {
            "node": "Merge Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Base64": {
      "main": [
        [
          {
            "node": "Set PDF Text B64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set PDF Text B64": {
      "main": [
        [
          {
            "node": "Merge Text",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Text": {
      "main": [
        [
          {
            "node": "Orchestrateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrateur": {
      "main": [
        [
          {
            "node": "IF Has DPGF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Orchestrateur": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrateur",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agent_infos_generales": {
      "ai_tool": [
        [
          {
            "node": "Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Infos Generales": {
      "ai_languageModel": [
        [
          {
            "node": "agent_infos_generales",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agent_courants_forts": {
      "ai_tool": [
        [
          {
            "node": "Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Courants Forts": {
      "ai_languageModel": [
        [
          {
            "node": "agent_courants_forts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agent_courants_faibles": {
      "ai_tool": [
        [
          {
            "node": "Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Courants Faibles": {
      "ai_languageModel": [
        [
          {
            "node": "agent_courants_faibles",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agent_securite": {
      "ai_tool": [
        [
          {
            "node": "Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Securite": {
      "ai_languageModel": [
        [
          {
            "node": "agent_securite",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agent_automatismes": {
      "ai_tool": [
        [
          {
            "node": "Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Automatismes": {
      "ai_languageModel": [
        [
          {
            "node": "agent_automatismes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "IF Has DPGF": {
      "main": [
        [
          {
            "node": "Extract DPGF Excel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge with DPGF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract DPGF Excel": {
      "main": [
        [
          {
            "node": "Convert DPGF to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert DPGF to Text": {
      "main": [
        [
          {
            "node": "Merge with DPGF",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge with DPGF": {
      "main": [
        [
          {
            "node": "Analyse DPGF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse DPGF": {
      "main": [
        [
          {
            "node": "Set Final Output DPGF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM DPGF": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse DPGF",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Final Output DPGF": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "v4-dpgf-2026",
  "meta": {
    "instanceId": "d83d6ee8c15e23092dde69cba9545217e1d643ea593a8410ee96a681c9fa9340"
  },
  "id": "ultraVisionPassthrough",
  "tags": []
}