workflow.json
{
  "name": "BTP - Electricite Multi-Agent Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "btp-electricite-agents",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-main",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "webhookId": "btp-elec-multiagent-2026"
    },
    {
      "parameters": {
        "url": "={{ (() => { const url = $json.body.pdf_url; const m = url.match(/\\/d\\/([a-zA-Z0-9_-]+)/); return m ? 'https://drive.google.com/uc?export=download&id=' + m[1] : url; })() }}",
        "options": {}
      },
      "id": "download-pdf",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-pdf",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pdf_text",
              "name": "pdf_text",
              "value": "={{ $json.text.substring(0, 80000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-pdf-text",
      "name": "Set PDF Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.pdf_text }}",
        "options": {
          "maxIterations": 20
        }
      },
      "id": "orchestrateur",
      "name": "Orchestrateur",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        960,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-orchestrateur",
      "name": "LLM Orchestrateur",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        848,
        528
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "id": "tool-infos-generales",
      "name": "agent_infos_generales",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        960,
        560
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-infos-generales",
      "name": "LLM Infos Générales",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        960,
        768
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "id": "tool-courants-forts",
      "name": "agent_courants_forts",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1200,
        560
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-courants-forts",
      "name": "LLM Courants Forts",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1200,
        768
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "id": "tool-courants-faibles",
      "name": "agent_courants_faibles",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1440,
        560
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-courants-faibles",
      "name": "LLM Courants Faibles",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1440,
        768
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "id": "tool-securite",
      "name": "agent_securite",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1680,
        560
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-securite",
      "name": "LLM Sécurité",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1680,
        768
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "id": "tool-automatismes",
      "name": "agent_automatismes",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1920,
        560
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "id": "llm-automatismes",
      "name": "LLM Automatismes",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1920,
        768
      ],
      "credentials": {
        "anthropicApi": {
          "id": "VdlqaX9zUuo4smPu",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2160,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Set PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set PDF Text": {
      "main": [
        [
          {
            "node": "Orchestrateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrateur": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Orchestrateur": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrateur",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agent_infos_generales": {
      "ai_tool": [
        [
          {
            "node": "Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Infos Générales": {
      "ai_languageModel": [
        [
          {
            "node": "agent_infos_generales",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agent_courants_forts": {
      "ai_tool": [
        [
          {
            "node": "Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Courants Forts": {
      "ai_languageModel": [
        [
          {
            "node": "agent_courants_forts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agent_courants_faibles": {
      "ai_tool": [
        [
          {
            "node": "Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Courants Faibles": {
      "ai_languageModel": [
        [
          {
            "node": "agent_courants_faibles",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agent_securite": {
      "ai_tool": [
        [
          {
            "node": "Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Sécurité": {
      "ai_languageModel": [
        [
          {
            "node": "agent_securite",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agent_automatismes": {
      "ai_tool": [
        [
          {
            "node": "Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Automatismes": {
      "ai_languageModel": [
        [
          {
            "node": "agent_automatismes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d5e301f3-06e5-461a-8fd6-d9c85fe9475e",
  "meta": {
    "instanceId": "d83d6ee8c15e23092dde69cba9545217e1d643ea593a8410ee96a681c9fa9340"
  },
  "id": "stuCZVcJjwse49Xw",
  "tags": []
}